<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Order Tracker</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
  </head>
  <body>
    @using OrderTracker.Models;

    <h3>@Model["vendor"].Name  Order</h3>
        <ul>
          <li><strong>Order Title: </strong>@Model["order"].Title</li>
          <li><strong>Order Description: </strong>@Model["order"].Description</li>
          <li><strong>Order Description: </strong>@Model["order"].Date</li>
          <li><strong>Order Price: </strong>$@Model["order"].Price</li>
        </ul>
    <p><a href='/vendors/@Model["vendor"].Id'>Back to Vendor</a></p>
  </body>
</html>